body {
  /* font-family: Helvetica; */
}

/* https://www.cssportal.com/blog/numbered-lists-with-css/ */
/* Will work with 2-digit numbers */
ol {
  list-style:none;
  counter-reset:mycounter;
  padding:0;
}
ol li {
  position:relative; 
  margin-left: 2em;
}
ol li:before {
  content: counter(mycounter);
  counter-increment: mycounter;
  position: absolute;
  left: -2em;
  width: 1.5em;
  height: 1.3em;
  line-height: 1.3em;
  border-radius: 2px;
  color: #212529;
  background: white;
  text-align: center;
  border: 1px solid #212529;
}

ul {
  padding-inline-start: 1em;
}

#daMainQuestion {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.alk_icon_group {
  position: relative;
}
#daMainQuestion .alk_icon_group {
  margin-left: 1em;
  font-size: 1.5em;
  height: .8em;
}
.alk_icon_group .icon {
  note: "1 icon";
  position: relative;
  translate: 0 -15%;
}
.alk_icon_group .icon.left {
  translate: -75%;
  position: absolute;
}
.alk_icon_group .icon.middle {
  position: absolute;
  translate: -40% -103%;
  height: 50%;
  overflow: hidden;
}
.alk_icon_group .icon.right {
  position: relative;
  translate: 0;
}

.daterm, .daterm:hover {
  text-decoration: underline dashed;
  text-underline-offset: 2px;
  note: "Increases the contrast so it doesn't fail.";
  color: #3b842c;
}

.alk_value_block {
  note: "Work on the border color. Text emphasis seems fragile as border and text may be different colors completely on someone else's server. Darkening won't work in dark mode and I'm reluctant to mess with dark and light modes.";
  border: 4px solid color-mix(in hsl, var(--bs-secondary-border-subtle), var(--bs-secondary-text-emphasis) 20%);
  margin-bottom: 1em;
  padding: .5em;
}

.alk_value_block *:last-child {
  margin-bottom: 0;
}
